**24MAI0111_ANMOL CHAUBEY**
**APRIORI ALGORITHM**

In [119]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [120]:
#reading the dataset
df = pd.read_csv('online_retail.csv')
print('24MAI0111_ANMOL CHAUBEY')

24MAI0111_ANMOL CHAUBEY

In [121]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [122]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [123]:
#dropping the rows having null values
df = df.dropna(subset=['CustomerID','Description'])

In [124]:
#stripping extra spaces in description column
df['Description'] = df["Description"].str.strip()

In [125]:
#transactions done in France
basket_France = (df[df['Country'] == "France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
print('24MAI0111_ANMOL CHAUBEY')

24MAI0111_ANMOL CHAUBEY

In [126]:
#transactions done in United Kingdom
basket_UK = (df[df['Country'] =="United Kingdom"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))

In [127]:
#transactions done in Portugal
basket_Por = (df[df['Country'] =="Portugal"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))

In [128]:
#transactions in Sweden
basket_Sweden = (df[df['Country'] =="Sweden"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
print('24MAI0111_ANMOL CHAUBEY')

24MAI0111_ANMOL CHAUBEY

In [129]:
#function to convert the quantity to binary value 
def hot_encoded(x):
    if(x<=0):
        return 0
    if(x>=1):
        return 1

In [130]:
#applying hon encoder to convert the quantities to binary value
basket_encoded = basket_France.applymap(hot_encoded)
basket_France = basket_encoded

C:\Users\Anmol Chaubey\AppData\Local\Temp\ipykernel_21380\3930704099.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_encoded = basket_France.applymap(hot_encoded)

In [131]:
basket_encoded = basket_UK.applymap(hot_encoded)
basket_UK = basket_encoded

C:\Users\Anmol Chaubey\AppData\Local\Temp\ipykernel_21380\3597678804.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_encoded = basket_UK.applymap(hot_encoded)

In [132]:
basket_encoded = basket_Por.applymap(hot_encoded)
basket_Por = basket_encoded

C:\Users\Anmol Chaubey\AppData\Local\Temp\ipykernel_21380\2149878040.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_encoded = basket_Por.applymap(hot_encoded)

In [133]:
basket_encoded = basket_Sweden.applymap(hot_encoded)
basket_Sweden = basket_encoded

C:\Users\Anmol Chaubey\AppData\Local\Temp\ipykernel_21380\1269091881.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_encoded = basket_Sweden.applymap(hot_encoded)

In [134]:
#applying apriori algorithm to the basket of Sweden, where minimun support of 0.05
frq_items = apriori(basket_Sweden, min_support = 0.05, use_colnames = True)

c:\Users\Anmol Chaubey\AppData\Local\Programs\Python\Python312\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [135]:
#generate the rules using lift as metric with a minimum threshhold of 1
print('24MAI0111_ANMOL CHAUBEY')
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
#sort the rules in descending order
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
#rules.head()
final_result = rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
final_result

24MAI0111_ANMOL CHAUBEY

,antecedents,consequents,support,confidence,lift
12,(TREASURE TIN BUFFALO BILL),(BUBBLEGUM RING ASSORTED),0.065217,1.000000,15.333333
13,(BUBBLEGUM RING ASSORTED),(TREASURE TIN BUFFALO BILL),0.065217,1.000000,15.333333
14,(BUBBLEGUM RING ASSORTED),(TREASURE TIN GYMKHANA DESIGN),0.065217,1.000000,15.333333
15,(TREASURE TIN GYMKHANA DESIGN),(BUBBLEGUM RING ASSORTED),0.065217,1.000000,15.333333
32,(MAGIC DRAWING SLATE DOLLY GIRL),(MAGIC DRAWING SLATE PURDEY),0.065217,1.000000,15.333333
...,...,...,...,...,...
181,(POSTAGE),"(RED TOADSTOOL LED NIGHT LIGHT, RABBIT NIGHT L...",0.065217,0.136364,2.090909
185,(POSTAGE),"(WALL TIDY RETROSPOT, RED RETROSPOT CHARLOTTE ...",0.065217,0.136364,2.090909
192,(POSTAGE),"(RED TOADSTOOL LED NIGHT LIGHT, WALL TIDY RETR...",0.065217,0.136364,2.090909
71,(POSTAGE),(ROUND SNACK BOXES SET OF 4 FRUITS),0.065217,0.136364,1.568182
76,(POSTAGE),(WOODEN OWLS LIGHT GARLAND),0.065217,0.136364,1.568182